body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgb(0, 0, 0.2);
    padding: 0px 5%;
}

nav ul{
    display: flex;
}

nav ul li a {
    margin: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #505050;
    font-size: 16px;
    font-weight: 650;
}

nav ul li a:hover {
    background-color: chocolate;
    color: #fff;
    border-radius: 5px;
}

.logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.home p {
    line-height: 0px;
    margin: 55px 0px 25px;
}

.home p:nth-child(1) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
}
.home p:nth-child(2) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #6d6d6d;
    letter-spacing: none;
    font-size: 30px;
}
.home p:nth-child(3) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
}
.home p:nth-child(4) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
}


